<div class="container">
	<div id="subheader">
		<h1>All Contacts</h1>
		<a href="/contacts/new" class="btn btn-primary btn-md">
			New Contact
		</a>
	</div>

	<ul class="list-name">
		<% @contacts.each do |key, value| %>
			<li class="list-name-item">
				<a href="/contacts/<%= key %>"><%= value["name"] %></a>
				<div>
					<form action="/contacts/<%= key %>/delete" method="post">
						<button type="submit" class="btn btn-link btn-sm">
							<i class="fa-solid fa-trash"></i>
						</button>
					</form>
				</div>
			</li>
		<% end %>
	</ul>
</div>