html * {
	font-family: Helvetica, sans-serif;
}

body {
	margin: 0px;
}

h1 {
	font-size: 36px;
}

main {
	padding: 32px 16px 32px 16px;
}

input, label {
	display: block;
}

label {
	font-weight: 700;
	margin-bottom: 0px;
}

.form-group {
	margin-bottom: 16px;
}

.container {
	max-width: 800px;
}

#subheader {
	display: flex;
	padding: 4px 0px 4px 12px;
	align-items: center;
	margin-bottom: 16px;
	justify-content: space-between;
}

#contact-details {
	padding: 16px;
}

.list-name {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	font-size: 24px;
	width: 100%;
}

.list-name-item {
	display: flex;
	justify-content: space-between;
	padding: 4px 8px 4px 12px;
	background-color: #F5F5F5;
	border-radius: 8px;
	margin-bottom: 8px;
}

.list-name-item div {
	display: flex;
	align-items: center;
}

#header {
	background-color: #5C6BC0;
	padding: 16px;
	display: flex;
}

#header-text {
	font-size: 18px;
	font-weight: 700;
	margin: 0px;
	color: white;
}